.textflip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.textflip-layer {
  position: relative;
  display: flex;
  overflow: hidden;
}

.textflip-layer--hidden {
  position: absolute;
  inset: 0;
}

.textflip-letter {
  display: inline-block;
  will-change: transform;
}

.textflip-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
