.header {
  position: fixed;
  display: flex;
  margin: 0 auto;
  padding: 2rem;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  max-width: 1340px;
  justify-content: space-between;
  align-items: center;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
}

.header.visible {
  transform: translateY(0);
}

.header.hidden {
  transform: translateY(-100%);
}

.logo-container {
  display: flex;
}

.logo-text {
  height: 30px;
  width: auto;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: clamp(120px, 25vw, 250px);
  object-fit: contain;
  cursor: pointer;
}

.logo-text.mobile-logo {
  height: 30px;
  width: auto;
  position: static;
  transform: none;
  max-width: none;
  cursor: pointer;
}

/* .launch-app-button {
  display: flex;
  border-radius: 100px;
  border: 2px solid rgb(232, 232, 232);
  background-color: rgb(255, 255, 255);
  list-style: none;
  font-size: 1rem;
  color: black;
  transition: 0.1s ease;
  cursor: pointer;
  z-index: 1;
}  */

@media (max-width: 480px) {
  .button-container button {
    padding: 0.7rem 0.9rem;
  }

  .button-container button span {
    font-size: 0.7rem;
  }
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
  
  .hamburger {
    display: block;
    margin-right: 0;
    padding-right: 0;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-text {
    height: 40px;
    width: auto;
    position: static;
    transform: none;
  }
  
  .logo-link {
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
  }
}